= link_to 'Edit', edit_message_path(@message)

%p
  %strong Title:
  = @message.title
%p
  %strong Body:
  = @message.body
- @message.comments. each do |comment|
  %p
    %strong Comment Title:
    = comment.title
  %p
    %strong Comment Body:
    = comment.body
  %br

//Equals (=) renders the result as text. - just does the ruby